* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(Awear/Images/landing-hatter.jpg);
    background-size: cover;
}
.small-container{
    max-width: 1920px;
    position: absolute;
    margin-top: 270px;
   
}
.col-4{
    flex-basis: 25%;
    padding: 5px;
    min-width: 400px;
    margin-bottom: 50px;
    transition: transform 0.5s;
    
}
.col-4 img{
    width: 100%;
}
.col-4:hover{
    transform: translateY(-12px);
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    border: #000;
    border-radius: 2px;
}
.h4{
    color: #000;
    font-weight:lighter;
    font-size: 20;
    font-stretch: expanded;
    text-align: center;
}
a{
    text-decoration: none;
    color: #000;
}
#awear {
    text-align: center;
    color: #000;
    font-size: 20;
}
#astro{
    font-family: 'Permanent Marker', cursive;
    text-decoration: none;
    color: cyan;
    text-align: center;
    font-size: 20;
}
#street{
    font-family: 'Lobster', cursive;
    display: block;
    text-align: center;
    font-size: 20;
    text-decoration: none;
    color: #fff;
   
}
